.analysis-wrapper {
  .ret-title {
    padding: 0 .3rem;
    .hint-title {
      font-size: 1.3rem;
    }
  }
  .charts-header {
    display: flex;
    line-height: 60px;
    .reset {
      width: 10%;
      padding: .3rem;
    }
    .brush {
      flex: 1;
    }
  }
}