.analysis-wrapper {
  .ret-title {
    width: 100%;
    padding: 0 .3rem;
    display: flex;
    .hint-title {
      width: 13%;
      font-size: 1.3rem;
    }
    .file {
      flex: 1;
    }
  }
  .charts-header {
    display: flex;
    line-height: 60px;
    .reset {
      width: 10%;
      padding: .3rem;
    }
    .brush {
      flex: 1;
    }
  }
  .chart-list {
    .algo-title {
      text-align: center;
      font-size: 1.1rem;
    }
  }
}